/* pages/login/login.styles.component.module.scss */
.loginPage {

  // styles for login page
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a1138; // Dark blue background
  }

  .card {
    display: flex;
    width: 80%;
    max-width: 900px;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    padding: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
}